# dependencies
node_modules

# next.js
.next
out

# local env
.env
.env.*.local
supabase/.env
supabase/volumes/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo

# OS/editor
.DS_Store
.idea
.vscode

# go
bin
dist
*.exe
*.test
*.out



# generated ebooks
docs/ebooks/*.pdf
